/* General */
body {
    background-color: #e6ecf0;
}

h1, h2 {
    color: black;
}

p {
    color: rgb(0, 172, 232);
    font-size: 16px;
}

/* Header */
#header {
    background-color: white;
    margin-top: 10px;
    border: 1px solid rgb(0, 172, 232);
}

/* Search Section */
#search-section {
    background-color: white;
    margin-top: 10px;
    border: 1px solid rgb(0, 172, 232);
}

#search-input, #search-options {
    height: 300px;
    border: 1px solid rgb(29, 202, 255);
}

#search-query {
    border: 1px solid rgb(29, 202, 255);
    border-radius: 12px;
    height: 40px;
    font-size: 16px;
    color: black;
    background-color: rgb(29, 202, 255);
    width: 300px;
}

#search-query-button {
    display: block;
    margin-top: 15px;
    background-color: #e6ecf0;
    border-radius: 10px;
    width: 300px;
}

/* Output Section */
#output-section {
    background-color: white;
    margin-top: 20px;
    margin-bottom: 20px;
}

#output-left, #output-right {
    height: 600px;
    overflow: scroll;
    border: 1px solid rgb(29, 202, 255);
}
